mixin table(img,text)
    div(class="tablecard")
        img(src="table/"+img+".jpg", alt="")
        p= text
mixin bed(img,text)
    div(class="bedcard")
        img(src="bed/"+img+".jpg", alt="")
        p= text
mixin business(img,text)
    div(class="businesscard")
        img(src="business/"+img+".jpg", alt="")
        p= text
mixin cabinet(img,text)
    div(class="cabinetcard")
        img(src="cabinet/"+img+".jpg", alt="")
        p= text
mixin door(img,text)
    div(class="doorcard")
        img(src="door/"+img+".jpg", alt="")
        p= text
mixin other(img,text)
    div(class="othercard")
        img(src="other/"+img+".jpg", alt="")
        p= text

<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 佳源木業｜商業/傢俱/其他
        link(rel="stylesheet", href="style.css")
    body
        section(id="product-1")
            div(class="card-box")
                +table("table01","桌子一")
                +table("table02","桌子一")
                +table("table03","桌子一")
                +table("table04","桌子一")
                +table("table05","桌子一")
                +table("table06","桌子一")
                +table("table07","桌子一")
                +table("table08","桌子一")
                +table("table09","桌子一")
                +table("table10","桌子一")
                +table("table11","桌子一")
                +table("table12","桌子一")
                +table("table13","桌子一")
                +table("table14","桌子一")
                +table("table15","桌子一")
                +table("table16","桌子一")
                +table("table17","桌子一")
                +table("table18","桌子一")
                +table("table19","桌子一")
                +table("table20","桌子一")
                +table("table21","桌子一")
                +table("table22","桌子一")
                +table("table23","桌子一")
                +table("table24","桌子一")
                +table("table25","桌子一")
                +table("table26","桌子一")
                +table("table27","桌子一")
                +table("table28","桌子一")
                +table("table29","桌子一")
                +table("table30","桌子一")
                +table("table31","桌子一")
                +table("table32","桌子一")
                +table("table33","桌子一")
            div(class="card-box")
                +bed("bed01","床")
                +bed("bed02","床")
                +bed("bed03","床")
                +bed("bed04","床")
                +bed("bed05","床")
                +bed("bed06","床")
                +bed("bed07","床")
                +bed("bed08","床")
            div(class="card-box")
                +business("business01","商業")
                +business("business02","商業")
                +business("business03","商業")
                +business("business04","商業")
                +business("business05","商業")
                +business("business06","商業")
                +business("business07","商業")
                +business("business08","商業")
                +business("business09","商業")
                +business("business10","商業")
                +business("business11","商業")
                +business("business12","商業")
                +business("business13","商業")
                +business("business14","商業")
                +business("business15","商業")
                +business("business16","商業")
                +business("business17","商業")
                +business("business18","商業")
                +business("business19","商業")
                +business("business20","商業")
                +business("business21","商業")
                +business("business22","商業")
                +business("business23","商業")
                +business("business24","商業")
                +business("business25","商業")
                +business("business26","商業")
                +business("business27","商業")
            div(class="card-box")
                +cabinet("cabinet01","櫃子")
                +cabinet("cabinet02","櫃子")
                +cabinet("cabinet03","櫃子")
                +cabinet("cabinet04","櫃子")
                +cabinet("cabinet05","櫃子")
                +cabinet("cabinet06","櫃子")
                +cabinet("cabinet07","櫃子")
                +cabinet("cabinet08","櫃子")
                +cabinet("cabinet09","櫃子")
                +cabinet("cabinet10","櫃子")
                +cabinet("cabinet11","櫃子")
                +cabinet("cabinet12","櫃子")
                +cabinet("cabinet13","櫃子")
                +cabinet("cabinet14","櫃子")
                +cabinet("cabinet15","櫃子")
                +cabinet("cabinet16","櫃子")
                +cabinet("cabinet17","櫃子")
                +cabinet("cabinet18","櫃子")
                +cabinet("cabinet19","櫃子")
                +cabinet("cabinet20","櫃子")
                +cabinet("cabinet21","櫃子")
                +cabinet("cabinet22","櫃子")
                +cabinet("cabinet23","櫃子")
                +cabinet("cabinet24","櫃子")
                +cabinet("cabinet25","櫃子")
                +cabinet("cabinet26","櫃子")
                +cabinet("cabinet27","櫃子")
                +cabinet("cabinet28","櫃子")
                +cabinet("cabinet29","櫃子")
                +cabinet("cabinet30","櫃子")
                +cabinet("cabinet31","櫃子")
                +cabinet("cabinet32","櫃子")
                +cabinet("cabinet33","櫃子")
                +cabinet("cabinet34","櫃子")
                +cabinet("cabinet35","櫃子")
                +cabinet("cabinet36","櫃子")
                +cabinet("cabinet37","櫃子")
                +cabinet("cabinet38","櫃子")
                +cabinet("cabinet39","櫃子")
                +cabinet("cabinet40","櫃子")
                +cabinet("cabinet41","櫃子")
            div(class="card-box")
                +door("door01","門")
                +door("door02","門")
                +door("door03","門")
                +door("door04","門")
                +door("door05","門")
                +door("door06","門")
                +door("door07","門")
                +door("door08","門")
                +door("door09","門")
                +door("door10","門")
            div(class="card-box")
                +other("other01","其他")
                +other("other02","其他")
                +other("other03","其他")
                +other("other04","其他")
                +other("other05","其他")
                +other("other06","其他")
                +other("other07","其他")



            
